<%- include('../partials/head', {title :'All Games | Card Game'}) %>
    <div id="gameList" class="overflow-hidden h-100">
        <div class="container h-100">
            <div class="gameWrapper padding h-100">
                <div class="heading py-2 d-flex justify-content-between align-items-center">
                    <div>
                        <div class="text-muted h6 mb-2"><%=res?.school %></div>
                        <h3 class="text-highlight mb-0 text-capitalize"><%=res?.name %></h3>
                    </div>
                    <a href="/games" class="back">
                        <i data-feather="arrow-left" class="me-2"></i> Back
                    </a>
                </div>

                <div class="split-2">
                    <div class="split-col text-center">
                        <i data-feather="user" class="mb-4"></i>
                        <a href="/games/<%=res?.slug %>/single-player" class="bubbly-button">Single Player</a>
                    </div>
                    <div class="split-col text-center">
                        <i data-feather="users" class="mb-4"></i>
                        <a href="/games/<%=res?.slug %>/multi-player" class="bubbly-button">Multiplayer</a>
                        <!-- <a href="#" class="bubbly-button">Multiplayer</a> -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
    <%- include('../partials/footer') %>