<%- include('../partials/head', {title :'Host'}) %>
<div id="gameList" class="overflow-hidden">
    <div class="container host-container">
        <div class="gameWrapper padding">
            <div id="hostGameBoard" class="hostGameBoard">
                <div class="full-grid h-100">
                    <!-- how to win -->
                    <form class="selectWinPattern" name="setRuleForm" id="setRuleForm" method="post">
                        <input type="hidden" name="role" value="Teacher">
                        <input type="hidden" name="playerName" value="<%=user?.first_name %> <%=user?.last_name %>">
                        <input id="gameSlug" name="gameSlug" type="hidden" value="<%=gameSlug%>" />
                        <h1 class="text-center">RULE?</h1>
                        <div class="how-to-win">
                            <div class="row">
                                <div class="radio col-auto">
                                    <label for="Row">
                                        <input type="radio" name="winCon" id="Row" class="visually-hidden"
                                            value="Row/Column">
                                        <div class="label-container bg-black bg-opacity-50 px-3 py-3 rounded">
                                            <div class="winPattern mb-2 mt-2 d-flex align-items-center">
                                               <img src="/assets/img/wincon<%=gameStyle%>_1.svg" alt="Row / Column" width="155" height="225">
                                            </div>
                                            <p class="patternName mb-0 text-center">Row / Column</p>
                                        </div>
                                    </label>
                                </div>

                                <div class="radio col-auto">
                                    <label for="Corner">
                                        <input type="radio" name="winCon" id="Corner" class="visually-hidden"
                                            value="Corner">
                                        <div class="label-container bg-black bg-opacity-50 px-3 py-3 rounded">
                                            <div class="winPattern mb-2 mt-2 d-flex align-items-center">
                                                <img src="/assets/img/wincon<%=gameStyle%>_3.svg" alt="Corner"  width="155" height="225">
                                            </div>
                                            <p class="patternName mb-0 text-center">Corner</p>
                                        </div>
                                    </label>
                                </div>
                                <div class="radio col-auto">
                                    <label for="Center">
                                        <input type="radio" name="winCon" id="Center" class="visually-hidden"
                                            value="Center">
                                        <div class="label-container bg-black bg-opacity-50 px-3 py-3 rounded">
                                            <div class="winPattern mb-2 mt-2 d-flex align-items-center">
                                                <img src="/assets/img/wincon<%=gameStyle%>_4.svg" alt="Corner"  width="155" height="225">
                                            </div>
                                            <p class="patternName mb-0 text-center">Center</p>
                                        </div>
                                    </label>
                                </div>
                                <div class="radio col-auto">
                                    <label for="Diagonal">
                                        <input type="radio" name="winCon" id="Diagonal" class="visually-hidden"
                                            value="Diagonal">
                                        <div class="label-container bg-black bg-opacity-50 px-3 py-3 rounded">
                                            <div class="winPattern mb-2 mt-2 d-flex align-items-center">
                                                <img src="/assets/img/wincon<%=gameStyle%>_5.svg" alt="Corner"  width="155" height="225">
                                            </div>
                                            <p class="patternName mb-0 text-center">Diagonal</p>
                                        </div>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 mx-auto mt-3 text-center d-flex">
                                <a href="/games/"
                                    class="game-button secondaryBtn opacity-75 me-4 text-decoration-none">Back</a>
                                <button id="setRule" class="game-button primary submit_btn loading" disabled type="submit">
                                    <span>Next</span>
                                    <div class="spinner-border" role="status"></div>
                                </button>

                            </div>
                        </div>
                    </form>
                    <!-- -->
                    <div class="row game-board hostBoard d-none" id="gameBoard">
                        <aside class="col d-flex flex-column left">
                            <div class="heading pb-2">
                                <div>
                                    <div class="text-muted h6 fw-bold mb-2">
                                        Hi, <span class="userName">
                                            <%=user?.first_name %>
                                            <%=user?.last_name %>
                                        </span>
                                    </div>
                                    <h3 class="gameName text-highlight mb-0 text-capitalize">
                                        <%=game_name%>
                                    </h3>
                                    <div class="schoolName text-muted h6 fw-bold mt-1">
                                        <%=org_name%>
                                    </div>
                                </div>
                            </div>
                            <div class="mid-section">
                                <div class="hostConsole">
                                    <div class="currentCardWrap">
                                        <img src="/assets/img/G.png" id="currentCard">
                                    </div>
                                    <div class="text-center action-button" id="start">
                                        <button type="button" class="bubbly-button" disabled id="hostStartGame">
                                            <span>Start</span>
                                            <div class="spinner-border" role="status"></div>
                                        </button>
                                    </div>
                                    <div class="text-center action-button drawBtn collapse" id="drawBtn">
                                        <button type="button" class="bubbly-button" disabled id="drawCard">
                                            <span>Draw</span>
                                            <div class="spinner-border" role="status"></div>
                                        </button>
                                    </div>
                                    <div class="text-center action-button drawBtn collapse" id="finished">
                                        <button type="button" class="bubbly-button" disabled>
                                            <span>Finished !</span>
                                        </button>
                                    </div>
                                    <!--  -->


                                </div>

                                <div class="mt-auto ms-0">
                                    <div class="how-to-win text-center">
                                        <div class="roomShare" id="roomShare">
                                            Room: <br><span id="roomNumber" class="winInfo__h3">235257</span>
                                            <img id="share" class="share" src="/assets/img/share-white.svg">
                                        </div>
                                        <hr>
                                        <h6>How to Win</h6>
                                        <div class="winPattern mb-2 d-flex align-items-center">
                                            <img src="/assets/img/wincon3.svg" alt="" srcset="">
                                        </div>
                                        <p class="patternName mb-0">Inside or Outside</p>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <a href="/logout" class="back mt-4">
                                    <i data-feather="log-out" class="me-2"></i> Logout
                                </a>
                            </div>


                        </aside>
                        <div class="col mx-auto">
                            <div class="board host" id="board">
                                <div class="how-to-win mt-auto oppenents">
                                    <h6>Oppenents</h6>
                                    <span id="invite" class="invite"><span class="invite__anchor">Invite</span>
                                        players
                                        to get started</span>
                                    <div class="list d-flex flex-wrap" id="playerGraph"></div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="position-fixed top-0 w-100 h-100 left-0 align-items-center d-none justify-content-center" id="gameCode">
    <div class="alertModal--small" id="clipboard">
        <textarea id="shareTextArea" name="shareTextArea" class="share__textarea" readonly></textarea>
        Click to copy
    </div>

</div>
<div class="position-fixed top-0 w-100 h-100 left-0 align-items-center collapse justify-content-center"
    id="gamePreloader">
    <div class="container">
        <div class="d-flex justify-content-between align-items-end">
            <h3>Loading Screen</h3>
            <div class="progress-data mt-1 small"></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" id="gamePreloaderBar"></div>
        </div>
    </div>
</div>
<div class="modal fade winnerModal" id="winnerModal" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-0">
            <div class="modal-body p-0">
                    <h2 class="winner-announcement h5 text-center px-4 mt-3"></h2>
                    <hr>
                    <h1 class="h4 text-center mt-3 mb-0">Loteria Ranking</h1>

                    <div class="winner-wrap classRank px-4">
                        <table class="table table-sm table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody id="winner-wrap">

                            </tbody>

                        </table>

                    </div>
                    <div class="text-center mb-2">
                        <div class="row g-0 my-4 mx-4 justify-content-between">
                            <div class="col-6">
                                <button id="newGame" class="game-button secondaryBtn opacity-75 me-4 text-decoration-none"  type="button">New Game Room</a>
                            </div>
                            <div class="col-5">
                                <button id="replay" class="game-button primary submit_btn"  type="button">New Game</a>
                            </div>
                        </div>
                        
                       
                    </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade winnerModal" id="newGameModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <form class="replayGame" name="replayGameForm" id="replayGameForm" method="post">
                    <div id="gamelist">
                        <h2 class="text-center">Select New Game</h2>
                        <div class="how-to-win d-block">
                            <div class="row">
                                <%  var games = gameList; for(var i=0; i < games?.length; i++) {%>
                                <div class="col-md-3 radio">
                                    <label class="list-item mb-3" for="<%=games[i]?.slug%>">
                                        <input type="radio" name="gameSlug" id="<%=games[i]?.slug%>" data-layout="<%=games[i]?.layout%>" class="visually-hidden" value="<%=games[i]?.slug%>">
                                        <div class="label-container">
                                            <div class="media">                                            
                                                <div class="media-content" style="background-image: url('<%=games[i].thumbnail%>');"></div>
                                            </div>
                                            <div class="list-content text-center">
                                                <div class="list-body">
                                                    <span class="list-title title ajax h-1x text-capitalize"><%=games[i]?.name%></span> 
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </label>
                                </div>
                                
                                <% } %>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col-md-6 mx-auto mt-3 text-center">                           
                                <button id="newGameBtn" class="game-button primary submit_btn" type="button">
                                    <span>Next</span>
                                    <div class="spinner-border" role="status"></div>
                                </button>    
                            </div>
                        </div>
                    </div>
                    <div id="newGameWinCon" style="display: none;">
                        <h1 class="text-center">RULE?</h1>
                        <div class="how-to-win">
                            <div class="row">
                                <div class="radio col-auto">
                                    <label for="Row1">
                                        <input type="radio" name="winCron" id="Row1" class="visually-hidden"
                                            value="Row/Column">
                                        <div class="label-container bg-black bg-opacity-50 px-3 py-3 rounded">
                                            <div class="winPattern mb-2 mt-2 d-flex align-items-center">
                                                <img src="/assets/img/wincon<%=gameStyle%>_1.svg" alt="Row / Column" width="155" height="225" id="img_row1">
                                            </div>
                                            <p class="patternName mb-0 text-center">Row / Column</p>
                                        </div>
                                    </label>
                                </div>

                                <div class="radio col-auto">
                                    <label for="Corner1">
                                        <input type="radio" name="winCron" id="Corner1" class="visually-hidden"
                                            value="Corner">
                                        <div class="label-container bg-black bg-opacity-50 px-3 py-3 rounded">
                                            <div class="winPattern mb-2 mt-2 d-flex align-items-center">
                                                <img src="/assets/img/wincon<%=gameStyle%>_3.svg" alt="Corner"  width="155" height="225" id="img_corner1">
                                            </div>
                                            <p class="patternName mb-0 text-center">Corner</p>
                                        </div>
                                    </label>
                                </div>
                                <div class="radio col-auto">
                                    <label for="Center1">
                                        <input type="radio" name="winCron" id="Center1" class="visually-hidden"
                                            value="Center">
                                        <div class="label-container bg-black bg-opacity-50 px-3 py-3 rounded">
                                            <div class="winPattern mb-2 mt-2 d-flex align-items-center">
                                                <img src="/assets/img/wincon<%=gameStyle%>_4.svg" alt="Corner"  width="155" height="225" id="img_center1">
                                            </div>
                                            <p class="patternName mb-0 text-center">Center</p>
                                        </div>
                                    </label>
                                </div>
                                <div class="radio col-auto">
                                    <label for="Diagonal1">
                                        <input type="radio" name="winCron" id="Diagonal1" class="visually-hidden"
                                            value="Diagonal">
                                        <div class="label-container bg-black bg-opacity-50 px-3 py-3 rounded">
                                            <div class="winPattern mb-2 mt-2 d-flex align-items-center">
                                                <img src="/assets/img/wincon<%=gameStyle%>_5.svg" alt="Corner"  width="155" height="225" id="img_diagonal1">
                                            </div>
                                            <p class="patternName mb-0 text-center">Diagonal</p>
                                        </div>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 mx-auto mt-3 text-center d-flex">
                                <button id="newGameRuleBtn" class="game-button primary submit_btn" type="submit">
                                    <span>Next</span>
                                    <div class="spinner-border" role="status"></div>
                                </button>

                            </div>
                        </div>
                    </div>
                    
                    
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/feather-icons"></script>
<script>
    feather.replace()
</script>

<%- include('../partials/footer', {host: true}) %>