<%- include('../partials/head', {title :'Single Player'}) %>
<div id="gameList" class="overflow-hidden">
	<div class="container host-container">
		<div class="gameWrapper padding">
			<div id="singleGameBoard" class="singleGameBoard">
				<div class="full-grid">
					<!-- input form start -->
					<form class="nickname" id="nickname">
						<input type="hidden" name="role" id="role" value="Player" />
						<input
							id="gameSlug"
							name="gameSlug"
							type="hidden"
							value="<%=gameSlug%>"
						/>
						<div class="form-group mb-0 position-relative">
							<label for="inputPlayerName" class="single--label"
								>Your Name:</label
							>
							<input
								id="inputPlayerName"
								name="playerName"
								type="text"
								class="single--input"
							/>
						</div>
						<button
							class="game-button secondaryBtn submit_btn loading"
							disabled
							type="submit"
							id="btnStart"
						>
							<span>Start</span>
							<div class="spinner-border" role="status"></div>
						</button>
					</form>
					<!-- input form start -->
					<!-- winning pattern start -->
					<div class="how-to-win text-center collapse" id="how_to_win">
						<h6>How to Win</h6>
						<div class="winPattern mb-2 d-flex align-items-center"></div>
						<p class="patternName mb-0"></p>
					</div>
					<!-- winning pattern end -->

					<div class="row game-board collapse" id="gameBoard">
						<aside class="col d-flex flex-column left">
							<div class="heading pb-2 mb-auto ml-10">
								<div>
									<h3 class="gameName text-highlight mb-0 text-capitalize">
										<%=game_name%>
									</h3>
									<div class="schoolName text-muted h6 fw-bold mt-1">
										<%=org_name%>
									</div>
								</div>
							</div>
							<div class="how-to-win text-center">
								<h6>How to Win</h6>
								<div class="winPattern mb-2 d-flex align-items-center"></div>
								<p class="patternName mb-0"></p>
							</div>
						</aside>
						<div class="col-md-5 mx-auto">
							<div class="board" id="board"></div>
						</div>
						<div class="col right d-flex flex-column">
							<div class="heading pb-2" id="heading">
								<div>
									<div class="text-muted h6 fw-bold mb-2">Hi,</div>
									<h3 class="userName text-highlight mb-0 text-capitalize">
										Sudhanshu
									</h3>
								</div>
							</div>
							<div class="my-auto">
								<div class="how-to-win text-center suffleCard" id="suffleCard">
									<div
										class="cardImg d-flex align-items-center"
										style="background-image: url('/assets/img/G.png')"
									></div>
								</div>
								<div class="shuffle_progress">
									<div></div>
								</div>
							</div>

							<button
								id="loteria"
								class="game-button secondaryBtn mb-2"
								type="button"
							>
								Loteria
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div
	class="position-fixed top-0 w-100 h-100 left-0 align-items-center collapse justify-content-center"
	id="gamePreloader"
>
	<div class="container">
		<div class="d-flex justify-content-between align-items-end">
			<h3>Loading Screen</h3>
			<div class="progress-data mt-1 small"></div>
		</div>

		<div class="progress">
			<div
				class="progress-bar progress-bar-striped progress-bar-animated"
			></div>
		</div>
	</div>
</div>
<!-- winner  -->
<div
	class="modal fade winnerModal"
	id="winnerModal"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	aria-hidden="true"
>
	<div class="modal-dialog modal-sm modal-dialog-centered">
		<div class="modal-content p-0">
			<div class="modal-body p-0">
				<div class="winner-wrap">
					<div class="winner">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-smile"
						>
							<circle cx="12" cy="12" r="10"></circle>
							<path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
							<line x1="9" y1="9" x2="9.01" y2="9"></line>
							<line x1="15" y1="9" x2="15.01" y2="9"></line>
						</svg>
					</div>
					<h2>You Win</h2>
					<div class="winner-ribbon">WINNER</div>
					<div class="right-ribbon"></div>
					<div class="left-ribbon"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div
	class="modal fade winnerModal losser"
	id="losserModal"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	aria-hidden="true"
>
	<div class="modal-dialog modal-sm modal-dialog-centered">
		<div class="modal-content p-0">
			<div class="modal-body p-0">
				<div class="winner-wrap">
					<div class="losser">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-frown"
						>
							<circle cx="12" cy="12" r="10"></circle>
							<path d="M16 16s-1.5-2-4-2-4 2-4 2"></path>
							<line x1="9" y1="9" x2="9.01" y2="9"></line>
							<line x1="15" y1="9" x2="15.01" y2="9"></line>
						</svg>
					</div>
					<h2>You Lose</h2>
					<div class="winner-ribbon">LOSSER</div>
					<div class="right-ribbon"></div>
					<div class="left-ribbon"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://unpkg.com/feather-icons"></script>
<script>
	feather.replace();
</script>
<%- include('../partials/footer', {single: true}) %>
